<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.coezal.wallet.dal.dao.TokenTransactionMapper">
  <resultMap id="BaseResultMap" type="com.coezal.wallet.api.bean.TokenTransaction">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="block_number" jdbcType="VARCHAR" property="blockNumber" />
    <result column="time_stamp" jdbcType="VARCHAR" property="timeStamp" />
    <result column="hash" jdbcType="VARCHAR" property="hash" />
    <result column="from_adr" jdbcType="VARCHAR" property="fromAddress" />
    <result column="to_adr" jdbcType="VARCHAR" property="toAddress" />
    <result column="change_value" jdbcType="VARCHAR" property="value" />
    <result column="is_error" jdbcType="VARCHAR" property="isError" />
    <result column="contract_address" jdbcType="VARCHAR" property="contractAddress" />
    <result column="token_name" jdbcType="VARCHAR" property="tokenName" />
    <result column="token_symbol" jdbcType="VARCHAR" property="tokenSymbol" />
    <result column="token_decimal" jdbcType="VARCHAR" property="tokenDecimal" />
    <result column="notify_success_flag" jdbcType="TINYINT" property="notifyApiSuccessFlag" />

  </resultMap>
  <sql id="Base_Column_List">
    id, block_number, time_stamp, hash, from_adr, to_adr, change_value, is_error, contract_address,token_name,token_symbol,token_decimal,notify_success_flag
  </sql>
  <insert id="insert" parameterType="com.coezal.wallet.api.bean.TokenTransaction">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into token_transcation
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="blockNumber != null">
        block_number,
      </if>
      <if test="timeStamp != null">
        time_stamp,
      </if>
      <if test="hash != null">
        hash,
      </if>
      <if test="fromAddress != null">
        from_adr,
      </if>
      <if test="toAddress != null">
        to_adr,
      </if>
      <if test="value != null">
        change_value,
      </if>
      <if test="isError != null">
        is_error,
      </if>
      <if test="contractAddress != null">
        contract_address,
      </if>
      <if test="tokenName != null">
        token_name,
      </if>
      <if test="tokenSymbol != null">
        token_symbol,
      </if>
      <if test="tokenDecimal != null">
        token_decimal,
      </if>
      <if test="notifySuccessFlag != null">
        notify_success_flag,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="blockNumber != null">
        #{blockNumber,jdbcType=VARCHAR},
      </if>
      <if test="timeStamp != null">
        #{timeStamp,jdbcType=VARCHAR},
      </if>
      <if test="hash != null">
        #{hash,jdbcType=VARCHAR},
      </if>
      <if test="fromAddress != null">
        #{fromAddress,jdbcType=VARCHAR},
      </if>
      <if test="toAddress != null">
        #{toAddress,jdbcType=VARCHAR},
      </if>
      <if test="value != null">
        #{value,jdbcType=VARCHAR},
      </if>
      <if test="isError != null">
        #{isError,jdbcType=VARCHAR},
      </if>
      <if test="contractAddress != null">
        #{contractAddress,jdbcType=VARCHAR},
      </if>
      <if test="tokenName != null">
        #{tokenName,jdbcType=VARCHAR},
      </if>
      <if test="tokenSymbol != null">
        #{tokenSymbol,jdbcType=VARCHAR},
      </if>
      <if test="tokenDecimal != null">
      #{tokenDecimal,jdbcType=VARCHAR},
    </if>
      <if test="notifySuccessFlag != null">
        #{notifySuccessFlag,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <update id="update" parameterType="com.coezal.wallet.api.bean.TokenTransaction">
    update token_transcation
    <set>
      <if test="blockNumber != null">
        block_number = #{blockNumber,jdbcType=VARCHAR},
      </if>
      <if test="timeStamp != null">
        time_stamp = #{timeStamp,jdbcType=VARCHAR},
      </if>
      <if test="hash != null">
        hash = #{hash,jdbcType=VARCHAR},
      </if>
      <if test="fromAddress != null">
        from_adr = #{fromAddress,jdbcType=VARCHAR},
      </if>
      <if test="toAddress != null">
        to_adr = #{toAddress,jdbcType=VARCHAR},
      </if>
      <if test="value != null">
        change_value = #{value,jdbcType=VARCHAR},
      </if>
      <if test="isError != null">
        is_error = #{isError,jdbcType=VARCHAR},
      </if>
      <if test="contractAddress != null">
        contract_address = #{contractAddress,jdbcType=VARCHAR},
      </if>
      <if test="tokenName != null">
        token_name= #{tokenName,jdbcType=VARCHAR},
      </if>
      <if test="tokenSymbol != null">
        token_symbol= #{tokenSymbol,jdbcType=VARCHAR},
      </if>
      <if test="tokenDecimal != null">
        token_decimal= #{tokenDecimal,jdbcType=VARCHAR},
      </if>
      <if test="notifySuccessFlag != null">
        notify_success_flag = #{notifySuccessFlag,jdbcType=TINYINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <delete id="deleteById" parameterType="java.lang.Long">
    delete from token_transcation
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <select id="selectById" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from token_transcation
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="select" parameterType="com.coezal.wallet.api.bean.TokenTransaction" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from token_transcation where 1 = 1 
    <if test="blockNumber != null">
       and block_number = #{blockNumber,jdbcType=VARCHAR}
    </if>
    <if test="timeStamp != null">
       and time_stamp = #{timeStamp,jdbcType=VARCHAR}
    </if>
    <if test="hash != null">
       and hash = #{hash,jdbcType=VARCHAR}
    </if>
    <if test="fromAddress != null">
       and from_adr = #{fromAddress,jdbcType=VARCHAR}
    </if>
    <if test="toAddress != null">
       and to_adr = #{toAddress,jdbcType=VARCHAR}
    </if>
    <if test="value != null">
       and change_value = #{value,jdbcType=VARCHAR}
    </if>
    <if test="isError != null">
       and is_error = #{isError,jdbcType=VARCHAR}
    </if>
    <if test="contractAddress != null">
       and contract_address = #{contractAddress,jdbcType=VARCHAR}
    </if>
    <if test="tokenName != null">
      and token_name= #{tokenName,jdbcType=VARCHAR},
    </if>
    <if test="tokenSymbol != null">
      and token_symbol= #{tokenSymbol,jdbcType=VARCHAR},
    </if>
    <if test="notifySuccessFlag != null">
      and notify_success_flag = #{notifySuccessFlag,jdbcType=TINYINT}
    </if>
  </select>
  <select id="selectOne" parameterType="com.coezal.wallet.api.bean.TokenTransaction" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from token_transcation where 1 = 1 
    <if test="blockNumber != null">
       and block_number = #{blockNumber,jdbcType=VARCHAR}
    </if>
    <if test="timeStamp != null">
       and time_stamp = #{timeStamp,jdbcType=VARCHAR}
    </if>
    <if test="hash != null">
       and hash = #{hash,jdbcType=VARCHAR}
    </if>
    <if test="fromAddress != null">
       and from_adr = #{fromAddress,jdbcType=VARCHAR}
    </if>
    <if test="toAddress != null">
       and to_adr = #{toAddress,jdbcType=VARCHAR}
    </if>
    <if test="value != null">
       and change_value = #{value,jdbcType=VARCHAR}
    </if>
    <if test="isError != null">
       and is_error = #{isError,jdbcType=VARCHAR}
    </if>
    <if test="contractAddress != null">
       and contract_address = #{contractAddress,jdbcType=VARCHAR}
    </if>
    <if test="tokenName != null">
      and token_name= #{tokenName,jdbcType=VARCHAR},
    </if>
    <if test="tokenSymbol != null">
      and token_symbol= #{tokenSymbol,jdbcType=VARCHAR},
    </if>
    <if test="tokenDecimal != null">
      and token_decimal= #{tokenDecimal,jdbcType=VARCHAR},
    </if>
    <if test="notifySuccessFlag != null">
      and notify_success_flag = #{notifySuccessFlag,jdbcType=TINYINT}
    </if>
     limit 1 
  </select>
</mapper>